---
import { siteConfig } from "@site-config";
import { Image } from "astro:assets";
import GithubBadge from "@assets/github.svg";

const year = new Date().getFullYear();

const commit = import.meta.env.CF_PAGES_COMMIT_SHA ?? import.meta.env.GITHUB_SHA ?? '@next';

const isMain = Astro.site!.hostname.includes("penpow.dev")
const commitUrl = commit == "@next" ? commit : `https://github.com/PenPow/${isMain ? "Website" : "penpow.github.io"}/commit/${commit}`
---

<footer
	class="mt-8 flex w-full flex-col items-center justify-center gap-y-2 pb-4 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="me-0 sm:me-4">
		Copyright &copy; {year}{" "}
		{siteConfig.author}

		<span class="border-l-gray-500 border-l-[1px] ml-2 pl-2">
			{commit === "@next" ? commit : (<a href={`https://github.com/PenPow/Website/commit/${commit}`} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-700 underline underline-offset-2">{commit.substring(0, 8)}</a>)}
		</span>
	</div>
	<a href="https://www.github.com/PenPow/Website" target="_blank" rel="noopener noreferrer">
		<Image src={GithubBadge} alt="Github badge" height={36} />
		<p class="sr-only">Github repository link</p>
	</a>
</footer>