---
import { Icon } from 'astro-icon/components'

interface Props {
	icon: string,
	alt: string,
	link: "mailto:josh@penpow.dev" | `https://${string}` | `/papers/${string}`
}

const { icon, link, alt } = Astro.props;
---

<div class="transition-colors duration-200 text-zinc-800 hover:text-zinc-950 dark:text-white dark:hover:text-neutral-300">
	<a href={link} target="_blank" rel="noopener noreferrer">
		<Icon name={icon} width={24} height={24} />
		<p class="sr-only">{alt}</p>
	</a>
</div>
